{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
    <h5>Visitors Today: {{ today_count }}</h5>
</div>

<h3>Visitor Log</h3>

<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Purpose</th>
        <th>Time</th>
    </tr>

    {% for v in visitors %}
    <tr>
        <td>{{ v[0] }}</td>
        <td>{{ v[1] }}</td>
        <td>{{ v[2] }}</td>
        <td>{{ v[3] }}</td>
        <td>{{ v[4] }}</td>
    </tr>
    {% endfor %}

</table>

<a href="/" class="btn btn-primary">Add New Visitor</a>

{% endblock %}